.border {
    border: 5px solid #000000!important;
    margin-top: 10px;
}
.about .about-box a {
    width: 200px;
    font-size: 17px;
    padding: 20px 0px;
    background-color: #000000;
    color: #fff;
    display: inline-block;
    line-height: 20px;
    border-radius: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 187px;
    text-align: center;
}
.about .about-box a:hover{
  color: #ffffff;
    background-color: #9a019c;
    background-image: none;
    border-color: #000000;
}
p{
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
  }
  .about .about-box p {
    font-size: 40px;
    line-height: 32px;
    color: #141012;
}
  .about .about-box p:hover {
    color: #000000;
    font-size:60px;
text-decoration-line: underline;
  }
  .about {
    background: url(../images/about-bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 0px;
}
.h5, h5 {
    font-size: 1.5rem;
    margin-top: 10px;
}
footer nav ul li a {
    font-family: cursive;
    font-weight: 400;
    font-size: 12px;
    color: black;
}
footer nav ul li a:hover{
    font-family: cursive;
    font-weight: 400;
    font-size: 16px;
    color: pink;
}
