.row1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -408px;
    margin-left: -408px;
}
img {
    margin-top: 0px;

}
h4 {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: x-large;
}
a.title {
    color: white;
    font-size: x-large;
    font-family: 'Lobster Two', cursive;
}
p.text-center {
    font-size: larger;
    color: white;
    font-family: 'Economica', sans-serif;
}
.black {
    color: #1b0018bd;
    margin-left: 10px;
}
.display-4 {
    font-size: 3.5rem;
    line-height: 1.2;
    color: #b32137;
    font-family: 'Ultra', serif;
    font-weight: bold;
}
.col-md-6 {
    margin-bottom: 12px;
}
a.title:hover {
    color: #eb1677;
    font-size: 40px;
}
.display-4 {
    font-size: 3.5rem;
    line-height: 1.2;
    color: #b32137;
    font-family: 'Ultra', serif;
    font-weight: bold;
    text-align: center;
}
.main_bt1 {
    background: transparent;
    color: #fff;
    padding: 0px 26px 1px 32px;
    float: left;
    font-size: 29px;
    font-weight: 400;
    border: solid #fff 2px;
    border-radius: 32px;
    margin: 5px 11px 20px 600px;
}
a.main_bt1:hover {
    color: #ff0080;
}
.main_bt1:hover {
    background: black;
    border: solid #000 2px;
}
.main_bt2 {
    background: black;
    color: #fff;
    padding: 0px 26px 1px 32px;
    float: left;
    font-size: 18px;
    font-weight: 400;
    border: solid #fff 2px;
    border-radius: 32px;
    margin: 5px 11px 20px 131px;
}
a {
    color: #ff002d;
}
a.main_bt2:hover {
    color: hotpink;
}
